:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
}

.card {
  padding: 1em;
  border-radius: 8px;
  border: 1px solid #DDDDDD;
  transition: border-color 0.25s;
  box-shadow: 0 0 0.25rem #DDDDDD;
  width: 16rem;
  text-align: left;
}

h1 {
  width: 100%;
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 0;
}

h2 {
  width: 100%;
}

h3 {
  color: red;
  margin-top: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }  
}

.container {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  margin: auto;
  background: #F4F4F4;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  z-index: 1;
  gap: 1.25rem;
  max-width: 70vw;
  margin: 0.5rem auto;
  padding: 1rem;
  background: white;
  box-shadow: 0 0 1rem gainsboro;
  border-radius: 0.5rem;
}

.veil {
  display: block;
  position: absolute;
  text-align: center;
  align-content: center;
  z-index:2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
}

ul, ol {
  margin: 0;
  padding-left: 1rem;
}

.bold {
  font-weight: bold;
}

.green {
  color: #27AE60;
  font-weight: bold;
}